body, html {
  //height: 100%;
}




.bg {
  background-image: url("/Images/HOME_IMAGE_2.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#MainHeader{
  color:white;
  text-align: center;
}

#resultsbox{
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  width:1000px;
  color:white;
}


#placeholderDiv{
  //position: fixed;
  top: 50px;
  margin-top: 2%;
  width: 25%;
  border-radius: 8px;
  line-height: 25px;
  padding: 15px;
  //margin-left: 5%;
  overflow:auto;
  max-height: 400px;
// max-width: 600px;
}


@media screen and (min-width: 700px)
#leftsection{
  width:92%;
  margin-bottom:10%;
  margin-top:+15%;
}


.form-wrapper{
  width: 100%;
  margin: auto;
  margin-bottom:7%;
}

#inputTitle{
  color:white;
}

#leftsection{
  position: fixed;
  top: 100px;
  margin-top: 2%;
  width: 25%;
  border-radius: 8px;
  line-height: 25px;
  float:left;
  padding: 15px;
  //margin-left: 5%;
  background-color:rgb(52,58,64) ;
  overflow:auto;
  max-height: 450px;
  max-width: 300px;
}
body{
  margin-bottom: 90px;
}
.firstRow{
  margin-bottom: 90px;
}

/*About Page*/

#whatispyp{
  color: white;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 15px;
  font-family: 'Montserrat' sans-serif;
}

#howItWorks{
  color: white;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 40PX;
  font-family: 'Montserrat' sans-serif;
}


.container{
  background-position: center;
  background-size: contain;
  background-color: transparent;
  width: 100%;
  height: 100%;
  margin-top: 50px;
  margin-bottom: 200px;
}
p3{
//  height:20%;
  color: white;
  font-size:20px;

}

#StuffAboutTheWebsite{

  text-justify: inter-word;

  color:black;

}

/*Login*/

.login-page{
  width:360px;
  padding:10% 0 0;
  margin:auto;
}

#active{
  color: lightgreen;
}

#loginLogo{
  width: 150px;
  height: 150px;
}

.form{
  position:relative;
  z-index:1;
  background:rgba(52,58,64,0.5);
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
}

.form input{
  font-family: sans-serif;
  outline: 1;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button{
  font-family: sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
}

.form button:hover, .form button:active{
  background: #43A047;
}

.form .message{
  margin: 15px 0 0;
  color: black ;
  font-size: 20px;

}

.form .message a{
  color:#4CAF50;
  text-decoration: none;
}

.form .register-form{
  display: none;
}


/*footer*/

#footer-info{
 position: fixed;
 height: 80px;
 bottom: 0px;
 left:0px;
 right:0px;
 margin-bottom: 30px;
  text-align: center;
  color: #ffffff;
  width: 100%;
  background-color: #343a40;
//  padding: 60px 0px;
}
.socials{

  position: fixed;
  height: 30px;
  bottom: 0px;
  left:0px;
  right:0px;
  margin-bottom: 0px;
   text-align: center;
   color: #ffffff;
   width: 100%;
   background-color: #343a40;
   //padding: 60px 0px;
}
.btn-facebook{
  background-color: #217f56;
  text-decoration: none;
  border: #217f56;
}
.btn-twitter{
  background-color: #217f56;
  text-decoration: none;
  border: #217f56;
}
.btn-google{
  background-color: #217f56;
  text-decoration: none;
  border: #217f56;
}
.btn-linkedin{
  background-color: #217f56;
  text-decoration: none;
  border: #217f56;
}
.btn-youtube{
  background-color: #217f56;
  text-decoration: none;
  border: #217f56;
}

/* Smartphones (portrait and landscape) ---------- */
 @media screen and (min-width: 320px) and (max-width: 480px){
   [class*="col-"] {
     width: 100%;
   }

 }
 /* Smartphones (portrait) ---------- */
 @media screen and (max-width: 320px){
[class*="col-"] {
  width: 100%;
}
 }
 /* Smartphones (landscape) ---------- */
 @media screen and (min-width: 321px){
   [class*="col-"] {
     width: 100%;
   }
 }
 /* tablets, iPads (portrait and landscape) ---------- */
 @media screen and (min-width: 768px) and (max-width: 1024px){
   .col-md-4 {width: 25%};
   .col-md-8 {width: 50%};
 }
 /* tablets, iPads (portrait) ---------- */
 @media screen and (min-width: 768px){
   .col-md-4 {width: 25%};
   .col-md-8 {width: 50%};
 }
 /* tablets, iPads (landscape) ---------- */
 @media screen and (min-width: 1024px){
   .col-md-4 {width: 30%};
   .col-md-8 {width: 60%};
 }
 /* Desktops and laptops ---------- */
 @media screen and (min-width: 1224px){
.col-md-4 {width: 35%};
.col-md-8 {width: 65%};
 }
 /* Large screens ---------- */
 @media screen and (min-width: 1824px){
   .col-md-4 {width: 35%};
   .col-md-8 {width: 65%};
 }
