<!doctype html>
<html>
 <%- include('partials/header') %>


   <body class="bg">

     <script src="scripts/main.js"> </script>

       <%- include('partials/navbar') %>

     <div class="titleAbout">
       <h2 id="abouttitle">ABOUT US</h2>
    </div>


     <div class="container">
          <div id="whatispyp">
              <h2><br><br>WHAT IS PICK YOUR<br>POISON?</h2>
          </div>
       <div class="row">
         <div class="col-md-12">
           <p class="AboutParagraph" id="StuffAboutTheWebsite">&nbsp</p>
         </div>
         <div class="col-md-6">
     <p class="AboutParagraph" id="StuffAboutTheWebsite">
       Pick your poison is a website that is designed to allow users have the opportunity to create a variety of drinks out of whatever ingredients they have in their pantry. This site is basically for entertainment and mostly channeled to young users who are eager to try and experiment new things.
     </P>
   </div>

    <div class="col-md-6">
    <p class="AboutParagraph" id="StuffAboutTheWebsite">
      This website was designed by a group of 200 level students in the Computing Department of the prestigious Robert Gordon University during a web developement moodle.Many thoughts, individual and collective researches were conducted to get this site up and running and further reseaches are been carried out to enable us make the site more entartaining and efficient whilst meeting the needs of every individual that visits the site.
     </P>
   </div>
    <div class="col-md-4">
           <p3>Research</p3>
           <img src="Research.jpg"alt="cocktail"  height="200" width="250">
           </div>
           <div class="col-md-4">
           <p3>Relations</p3>
           <img src="Relations.jpg"alt="cocktail" height="200" width="250">
           </div>
           <div class="col-md-4">

           <p3>Cocktail</p3>
           <img src="Cocktail.jpg"alt="cocktail" height="200" width="250">
         </div>
         </div>
         </div>
     <img class="cocktailimage" id="cocktailimg2" scr="Research.jpg"></img>


 <footer>
    <%- include('partials/footer') %>
     </footer>
   </body>
